
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: turquoise;
    color: black;
}

header h1 {
    margin-left: 15px;
}

#nav {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    text-decoration: underline;
    font-size: 20px;
}

/* MEDIA QUERY */

@media screen and (max-width: 980px) {
    #nav {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    text-decoration: underline;
    background-color: blue;
}
}

/* BANNER */

#banner {
margin-top: 20px;
height: 200px;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}

#banner h2 {
    border: 3px solid blue;
    width: 150px;
    margin: 20px;
}

main {
    margin-top: 20px;
}
.sections {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.sections h3 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin: 0px;
    padding: 10px;
}

.sections div {
    width: 65%;
    border-left: 2px solid black;
}

.sections div p {
    margin: 20px;
}

.surf_report{
    outline: 1px solid red;
    width: 100%;
    height: 250px;
    margin: 20px;
}

#small-box-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px;
}

.small-box {
    outline: 1px solid blue;
    width: 50%;
    height: 100px;
}

/* IMAGES */

#box1 {
    background-image: url(./encycloPet.png);
    background-size: cover;
    background-position: center;
}

#box2 {
    background-image: url(./Calculator.jpg);
    background-size: cover;
    background-position: center;
}

#box3 {
    background-image: url(./LED.jpg);
    background-size: cover;
    background-position: center;
}

#box4 {

    background-image: url(./Pretzels.webp);
    background-size: cover;
    background-position: center;
}

#box5{
    background-image: url(./Bolt.webp);
    background-size: cover;
    background-position: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: underline;
    font-size: 25px;
}